#map {
    height: 600px;
}


/**************************************************
    AboutUs.html
****************************************************/

.about {
    margin: 1.5em 1em 1.5em 1em;
    background-color: #ffffff;
}

.about h2 {
    text-align: center;
}

.container p {
    padding: 15px;
}

.container .card-deck {
    margin: 25px;
    padding-bottom: 25px;
}


/**************************************************
    countactUs.html
****************************************************/

.contact-container-1 h1 {
    padding: 15px 0 10px 15px;
}

.contact-container-1 {
    margin: 1.5em 1em 1.5em 1em;
    background-color: #ffffff;
}

.contact-container-1 .cul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-container-1 .cli {
    display: inline-block;
    padding: 0 260px 10px 20px;
}

.contact-container-1 .contact_button {
    background: #E57229;
    text-align: center;
    color: #fff;
    border: 1px solid #E57229;
    padding: 5px 32px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    float: right;
}

.contact-container-2 {
    padding: 0 0 20px 20px;
}

.contact-container-3 {
    padding-bottom: 15px;
}

.view-Account {
    display: flex;
}

/* .flex-container>div {
    background-color: #ffffff;
    width: 300px;
    height: 250px;
    margin: 30px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
} */

.view-Account .box-1 {
    flex: 1;
    /* margin: 15px 10px 0 15px; */
}

.view-Account .box-1 img {
    width: 250px;
    height: 300px;
}

.view-Account .box-2 {
    flex: 3;
    /* margin: 15px 15px 15px 0; */
    background-color: #fff;
}

/* .view-Account .box-2 p {
    text-align: left;
    font-size: 15px;
} */

.service-container-1 {
    margin: 15px;
    padding: 15px;
    background-color: #ffffff;
}

.service-container-1 h1 {
    text-align: center;
}

.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(35, 136, 252);
}

.flex-container1>div {
    background-color: #f5f8f8;
    width: 650px;
    margin: 25px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container2 {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(96, 139, 221);
}

.flex-container2>div {
    background-color: #f2f2f2;
    width: 300px;
    margin: 5px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}

.flex-container3 {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(35, 136, 252);
}

.flex-container3 p {
    font-size: 20px;
    line-height: 35px;
}

.flex-container3>div {
    background-color: #f5f8f8;
    width: 20000px;
    margin: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 15px;
}

.flex-container4 {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(35, 136, 252);
}

.flex-container4>div {
    background-color: #f5f8f8;
    width: 265px;
    margin: 75px 75px 40px 75px;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
}

.flex-container4 p {
    font-size: 25px;
}


/* Create four equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.info {
    color: blue;
}