/*==================================================
Fonts: Open Sans & Raleway
background-color: #e9e9e9 - body
background-color: #511F0B - header & footer
#00B4CC - border color
==================================================*/


body {
    background-color: #e9e9e9;
    font-family: sans-serif;
}

.m15 {
    padding-right: 15px;
}

.clear {
    clear: both;
    border-bottom: 5px solid #e9e9e9;    
}

/**************************************************
    Preloaders
****************************************************/
#preloader {
    background-color: #e9e9e9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../gif/Double\ Ring-3.8s-200px.gif");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

/* discription-preloader */
#status_2 {
    background-image: url("../gif/Magnify-1s-200px.gif");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}


/**************************************************
    Header
****************************************************/
.container-1 {
    display: flex;
    background-color: #161032;
}

.logo  img {
    height: 100px;
    margin-left: 80px;
}

.container-1 .box-1 {
    flex: 1;
    padding: 0px 0px 0px 10px;
}

.container-1 .box-2 {
    flex: 4;
}

.container-1 .box-2 .search_ {
    width: 90%;
    position: relative;
    padding-top: 15px;
    margin: auto;
    display: flex;
}

#searchTerm {
    width: 100%;
    border: 3px solid #E36414;
    border-right: none;
    border-left: none;
    padding: 5px;
    height: 36px;
    outline: none;
    color: #9DBFAF;
}

#searchTerm:focus {
    color: black;
}

.container-1 .box-2 .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #E36414;
    background: #E36414;
    text-align: center;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.container-1 .box-2 .dropdown_Button {
    width: 70px;
    height: 36px;
    border: 1px solid #E36414;
    background: #E36414;
    text-align: center;
    color: #fff;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
}

.container-1 .box-2 .search_dropdown_content {
    display: none;
    position: absolute;
    background-color: #E36414;
    border-radius: 5px 0 5px 5px;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(157, 196, 207, 0.2);
    z-index: 99;
}

.container-1 .box-2 .search_dropdown_content a {
    color: black;
    padding: 12px 16px;
    border-radius: 5px 0 5px 5px;
    text-decoration: none;
    display: block;
}

.container-1 .box-2 .search_dropdown_content a:hover {
    background-color: #ffffff;
}

.container-1 .box-2 .dropdown:hover .search_dropdown_content {
    display: block;
}

.dropdown:hover .dropdown_Button {
    background-color: #E57229;
}

.container-1 .box-2 .dropdown {
    position: relative;
    display: block;
}

.container-1 .box-3 {
    flex: 1.5;
    background-color: #161032;
}

.container-1 .nested_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 5px;
}

.nested_2>div {
    padding-top: 10px;
}

.container-1 .login_button {
    background: #E57229;
    text-align: center;
    color: #fff;
    border: 1px solid #E57229;
    padding: 5px 32px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.container-1 .box-3 .login_div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-1 .cart_button {
    color: #fff;
    padding-left: 35px;
}


/**************************************************
    Container-2
****************************************************/
.container-2 {
    display: flex;
    padding: 1.5em 1em 1.5em 1em;
}

.container-2 .box-1 {
    flex: 1;
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: #e9e9e9;
    background-color: #ffffff;
}

.container-2 .box-2 {
    flex: 1;
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: #e9e9e9;
    background-color: #ffffff;
}

.container-2 .box-3 {
    flex: 1;
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: #e9e9e9;
    background-color: #ffffff;
}

.container-2 .box-4 {
    flex: 1;
    background-color: #ffffff;
}

.container-2 h5 {
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
}

.container-2 img {
    height: 100px;
    width: 100px;
}

.container-2 .img2 {
    padding: 40px 55px 55px 55px;
}

.container-2 .img2 img {
    height: 250px;
    width: 250px;
}

.container-2 .container_2_discount {
    color: red;
}

.container-2 .container_2_price {
    font-weight: bold;
    color: black;
}

.container-2 .nested {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
}

#brands {
    padding: 0 1em 1.5em 1em;
}


/**************************************************
    Container-3
****************************************************/
.brand_heading h5 {
    font-size: 25px;
}

.brands_content {
    background-color: #ffffff;
}

.brands_image {
    width: 80%;
    height: 80%;
    padding: 10px;
    margin: auto;
}


/**************************************************
    Container-1-Caterories
****************************************************/
.container-3 {
    display: flex;
    margin: 1.5em 1em 0 1em;
    background-color: #ffffff;
}

.container-3 .box-1 {
    flex: 1;
}

.container-3 .box-2 {
    flex: 3;
}

.container-3 .box-3 {
    flex: 1;
}

.container-3 .container {
    padding: 0
}

.container-3 .box-1 .list-group-item a {
    text-decoration: none;
    color: black;
}

.container-3 .list-group-item {
    border-style: solid;
    border-width: 0 3px 3px 0;
    border-color: #e9e9e9;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    background-color: #ffffff;
}

.container-3 h1 {
    text-align: center;
    padding: 15px;
}

.container-3 span {
    color: blue;
}

.container-3 .coupon {
    display: block;
    max-height: 150px;
    margin: auto;
}


/**************************************************
    Container-1-Slideshow
****************************************************/
.container-3 .slide_img {
    width: 880px;
    height: 280px;
}

.list-group i {
    margin-right: 15px;
}

.my {
    max-width: 890px;
    max-height: 300px;
}


/*==================================================
discription.html
==================================================*/
.description-container-1 {
    display: flex;
    margin: 1.5em 1em 0 1em;
    
}

.description-container-1 .box-1 {
    flex: 1;
    background-color: #ffffff;
    margin-right: 10px;
    padding: 10px;
}

.description-container-1 .box-1 img {
    width: 100%;
}
.description-container-1 .box-2 {
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
}

.description-container-1 .box-2 h2 {
    text-align: center;
}

.description-container-1 .box-2 p {
    text-align: justify;
}

.description-container-1 .box-3 {
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 10px;
}

.description-container-1 img {
    padding-top: 50px;
    padding-bottom: 10px;
}

.description-container-1 .dropdown {
    position: relative;
    display: block;
}

/* .description-container-1 .dropdown_Button {
    width: 110px;
    height: 36px;
    border: 1px solid #E36414;
    background: #E36414;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0 0 10px;
} */

.description-container-1 .box-3 .selection_content {
    width: 210px;
    height: 36px;
    border: 1px solid #E36414;
    background: #E36414;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0 0 10px;
}

/* .description-container-1 .selection_content {
    display: none;
    position: absolute;
    background-color: #E36414;
    border-radius: 5px 0 5px 5px;
    min-width: 110px;
    margin-left: 10px;
    box-shadow: 0px 8px 16px 0px rgba(157, 196, 207, 0.2);
    z-index: 99;
} */

.description-container-1 option {
    color: black;
    padding: 12px 16px;
    border-radius: 5px 0 5px 5px;
    text-decoration: none;
    display: block;
}

.description-container-1 .dropdown_content option:hover {
    background-color: #ffffff;
}

.description-container-1 .dropdown:hover .dropdown_content {
    display: block;
}

.description-container-1 .dropdown:hover .dropdown_Button {
    background-color: #E36414;
}

.description-container-1 .add_cart {
    background: #E36414;
    text-align: center;
    color: #fff;
    border: 1px solid #E36414;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
}

.description-container-1 .space {
    height: 20px;
}

.description-container-1 .price {
    color: red;
    font-size: 30px;
}

.description-container-1 .stock {
    color: green;
    font-size: 20px;
}

.similar {
    margin: 1.5em 1em 1.5em 1em;
    background-color: #ffffff;
}

.similar img {
    width: 100%;
    padding: 0 15px 15px 15px;
}

.similar h4 {
    padding: 15px 0 0 15px;
}


/**************************************************
    Footer
****************************************************/
.footer-container {
    display: flex;
    padding: 15px; 
}

.footer-container a {
    color: #E36414;
}

.footer-container .box-1 {
    flex: 1;
}

.footer-container .box-2 {
    flex: 1;
}

.footer-container .box-3 {
    flex: 1;
}

.footer-container .box-4 {
    flex: 1;
}

footer {
    background-color: #161032;
    text-align: center;
    color: #ffffff;
}

.books-header {
    height: 160px;
    text-align: center;
    background-color: #ffffff;
}

.books-header h1 {
    padding-top: 20px;
    font-size: 60px;
}

/* Books container */
.books-container {
    display: flex;
}

.books-container .box-1 {
    flex: 1;
    background-color: #ffffff;
    text-decoration: none;
    
}

.books-container .box-1 .msticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0;
}

.books-container .box-1 h5 {
    padding: 15px 0 0 10px;
}

.books-container .box-1 ul {
    list-style-type: none;
}

/* .books-container .box-1 inp {
    padding-left: 15px; 
} */

.books-container .box-2 {
    flex: 4;
    background-color: #ffffff;
    border-left: 5px solid #e9e9e9;
}

.books-container .box-2 .booksList {
    overflow: auto;
}

.books-container .box-2 .img1 img {
    width: 220px;
    height: 320px;
    float: left;
    padding: 15px 0 15px 15px;
}

.books-container .box-2 .bookInfo {
    float: left;
    padding: 20px;
}

.books-container .box-2 .rating {
    color: goldenrod;
    float: left;
    padding-top: 110px;
    padding-left: 80px;
    letter-spacing: 5px;
}

.books-container .box-2 .bookInfo h3 {
    padding-top: 50px;
    font-size: 20px;
}

.books-container .box-2 .bookInfo span {
    display: block;
    overflow: hidden;
    margin: 4px 0;
}

.books-container .box-2 .bookInfo .author {
    font-size: 15px;
    color: #9e9e9e;
}

.books-container .box-2 .bookInfo .price {
    font-size: 20px;
    color: #e74c3c;
}

.books-container .box-2 .bookInfo .btnCart {
    margin-top: 15px;
    width: 260px;
    font-size: 20px;
    color: #ffffff;
    background: #e74c3c;
    display: block;
    float: left;
    padding: 6px;
    text-align: center;
}


.qanda-askBox {
    width: 90%;
    position: relative;
    padding-top: 15px;
    margin: auto;
}

.qanda-list {
    margin: 15px;
    padding:  5px 10px 0 10px;
    background-color: #ffffff;
    border: 5px inset #e9e9e9;
    font: sans-serif;
    text-align: justify;
}

.qanda-list .question {
    color: blue;
}

.qanda-header {
    height: 160px;
    text-align: center;
}

.qanda-header h1 {
    color: #fff;
    padding-top: 20px;
    font-size: 60px;
}

#qanda-searchTerm {
    width: 90%;
    padding: 5px;
    color: #9DBFAF;
}

#qanda-searchTerm:focus {
    color: black;
}

.order-container-1 {
    display: flex;
}

.order-container-1 .box-1 {
    flex: 1;
    background-color: #ffffff
}

.order-container-1 .box-2 {
    flex: 4;
    background-color: #ffffff;
}