.category-container-1 {
    display: flex;
    padding: 1.5em 1em 1em 1.5em;
}

.category-container-1 .box-1 {
    flex: 1;
    background-color: #ffffff;
    margin-right: 5px;
    position: relative;
}

.category-container-1 .box-1 .become_seller {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
}

.category-container-1 .box-1 .horizontal {
    border: 3px solid #e9e9e9;
}

.category-container-1 .box-2 {
    flex: 3;
    margin-left: 5px;
    background-color: #ffffff;
}

.category-container-1 h2 {
    text-align: center;
    padding: 10px 0 10px 0;
}

#mySearch {
    margin-left: 20px;
    margin-bottom: 15px;
}

.category-container-1 .box-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.category-container-1 .box-2 img {
    width: 100px;
    height: 100px;
}

.category-container-1 .box-2 td {
    text-align: center;
    padding: 15px;
}

.category-container-1 .box-2 ul {
    text-align: left;
}

.category-container-1 .box-1 li {
    cursor: pointer;
}

.category-container-1 .box-2 .tabcontent {
    display: none;
}

.seller-container-1 {
    background-color: #ffffff;
    margin: 15px;
    padding: 10px;
}