.purchase-topics {
  background-image: linear-gradient(to bottom right, LightSkyBlue, white);
  border-radius: 25px;
}

.site-background{
  background-color: #e2e2e2;
}

/* .phItemList{
  border-bottom-width: 6px solid blue;
  background-color: white;
} */

.tab-border{
  border-right: 6px solid #e9e9e9;
}

.tab-border .space {
  height: 450px;
}
.tab-content input {
  margin-left: 10px;
}

div-b {
  border-bottom: 10px dotted blue;
}

.message .message-content {
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.message-list:target .message-content {
  max-height: 200px;
}

.site-background .pPrducts-D-header {
  height: 160px;
}

.site-background .pPrducts-D-header h4 {
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
}